.title {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--text-color-dark-grey);
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.dialog-btn {
  margin-bottom: 4px;
  justify-content: right;
}
